header{
    background-color:black;
    color:white;
    text-align: center;
}

body{
    text-align: center;
}

footer{
    text-align: center;
}

h1{
    color:red;
    font:bold;
}

.menukaart{
    background-color: gray;
}