header{
    background-color:black;
    text-align: center;
}

header nav a{
    color:white;
    text-decoration: none;
    padding: 10px;
}

main{
    text-align: center;
}

footer{
    color:white;
    background-color:black;
    text-align: center;
    padding: 10px;
}

h1{
    color:red;
    font:bold;
}

.menukaart{
    background-color: darkgray;
}