body {
  font-family: "Comic Neue", cursive;
  color: rgb(151, 108, 52);
  line-height: 1.6;
  background-color: #fffaf3;
}

.comic-neue-light {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: normal;
}

.comic-neue-regular {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

.comic-neue-bold {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}

.comic-neue-light-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: italic;
}

.comic-neue-regular-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: italic;
}

.comic-neue-bold-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: italic;
}

header {
  background-color: #faf3e8;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
  padding-bottom: 0.5px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  width: 325px;
  height: auto;
  padding: 1.0px;

}

.fotos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

}
.opmaak {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 300px;
  max-width: 100%;
  height: 340px;
  object-fit: cover;
  border-radius: 20px;

}

  nav a {
    color: #3b2a20;
    text-decoration: none;
    margin: 0 10px;
    background-color: #ead8c0;
    margin: 5px;
    padding: 10px 15px;
    border: 1px solid #3b2a20;
    border-radius: 10px;

  }

  nav a:hover {
    color: rgb(214, 172, 117);
    text-decoration: underline;
  }


  h1 {
    font-size: 2.5rem;
    text-align: center;
    padding: 50px 20px 20px 20px;
  }

  h2 {
    font-size: 1.5rem;
    text-align: center;
    padding: 10px 20px;
    margin: 50px auto;
    text-align: center;
  }

  main {
    max-width: 1150px;
    margin: 0 auto;
    padding: 60px 24px;

  }